#header_container {
	background-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	display: flex;
	justify-content: center;
	gap: 1rem;
	z-index: 1000;
	user-select: none;

	button {
		color: white;
		padding: 1rem 2rem;
		background: rgba(47, 136, 228, 0.33);
		border-radius: 16px;
		backdrop-filter: blur(8.6px);
		-webkit-backdrop-filter: blur(8.6px);
		border: 1px solid rgb(255, 255, 255);
		text-transform: uppercase;
		letter-spacing: 5px;
		margin-top: 1rem;

		&:hover {
			cursor: pointer;
		}
	}
}
